body{
    /* background-color: rgba(255, 0, 0, 0); */
  color: #000;
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
  padding: 0px;
 
}   

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  margin: 0px;

    height: 60px;
    color: #333333;
    font-size: 17px;
     letter-spacing: 1px;
     background-color: red;
    /* border: 5px solid black; */
    /* background-color: white; */
}
a{
    text-decoration: none;
    color: black;
    /* padding: 20px; */
    align-items: start;
    position: relative;
    right: 0;
    font-size: 20px;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}
.icons{
    padding-left: 15px;
    color: black;

}

.can-image{

    margin-left: 30px;
    margin-right: 30px;
    margin-top: 50px;
    border-radius: 25px;
    height: 120vh;
    padding: 0px;
    background-image: url("Can.webp");

    /* background-image: url("https://www.coca-colacompany.com/content/dam/company/us/en/homepage/homepage-images/images/star-wars-desktop.jpg/width1960.jpg"); */
}
.can-section{
    color: white;
    display: flex;
    /* width:  500px; */
    /* justify-content: flex-start; */
    /* flex-direction: row; */
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-size: 45px;
    font-weight: 900;
    padding-left: 60px;
    padding-top: 40px;

}
.vision{
    margin-top: 10px;
    background-color: red;
    font-size: 50px;
    font-weight: bold;
    padding-top:100px;
    padding-left: 50px;
}

.image-section{
    background-color: red;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 20px;
    padding:  60px;
}

.image-box {
  /* display: flex; */
  /* justify-content: space-between; */
  padding-left: 1px;
}

.image-box img{
    border-radius: 20px;
}

.vision2{
    display: flex;
    justify-content: flex-start;
    background-color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top:100px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.image-section2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    background-color: white;
    /* width: 100%;
    margin: 0;
    box-sizing: border-box; */
    gap: 20px;
    padding-left: 20px;
}

.image-box2{
    padding: 10px;
}

.image-box2 img{
    border-radius: 20px;
}

.button-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.button{
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 50px;
}

.image-section3{
    background-color: aquamarine;
    display:flex;
    justify-content: start;
    gap: 50px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-box3 img{
  border-radius: 30px;
  padding-left: 30px;
}

.image-section4{
    background-color: aquamarine;
    display:flex;
    justify-content:start;
    gap: 50px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.image-box4 img{
  border-radius: 30px;
}

.content{
    background-color: white;
    /* display: grid;
    grid-template-rows: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 20px; */
}

.team{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    padding-top: 80px;
}

.image-content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding-top: 60px;
}

.footer{
    background-color: #000;
    color: white;
    padding-left: 20px;
}

.footer-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding-left: 40px;
}
.head{
    background-color: white;
    border-radius: 0px 5px 5px 0px;
}

.form{
    display: grid;
    grid-template-columns:50% 50%;
    background-color:rgba(255, 255, 255, 0.345);
    /* border: 2px solid white; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-section{
    background-color: white;
    border: 1px solid white;
    border-radius: 20px 20px 20px 20px;
    padding: 40px;
    padding-left: 40px;
    padding-right: 50px;
    position: relative;
    right: 30px;
    /* margin-bottom: 30px; */
    gap: 10px;
    color: black;
    font-weight: bold;
}
.form-section input{
    padding: 5px;
    border: none;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    padding-right: 400px;
}

.Contact{
    background-color: lightblue;
    align-content: center;
    /* padding-left: 130px; */
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 5px 30px 30px 5px;
}